h1, h2, h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

body {
    margin: 0 !important;
    padding: 0 !important;

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    background-color: #fcfcfc;
}

.ui.inverted.segment .sub.header {
    color: #FFF;
}

#header {
    background: #c9de96;
    background: -moz-linear-gradient(top, #c9de96 0%, #96bc85 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(100%,#96bc85));
    background: -webkit-linear-gradient(top, #c9de96 0%,#96bc85 100%);
    background: -o-linear-gradient(top, #c9de96 0%,#96bc85 100%);
    background: -ms-linear-gradient(top, #c9de96 0%,#96bc85 100%);
    background: linear-gradient(to bottom, #c9de96 0%,#96bc85 100%);
}

/*#code {
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #f0f0f0 0%, #dbdbdb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#dbdbdb));
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#dbdbdb 100%);
    background: -o-linear-gradient(top, #f0f0f0 0%,#dbdbdb 100%);
    background: -ms-linear-gradient(top, #f0f0f0 0%,#dbdbdb 100%);
    background: linear-gradient(to bottom, #f0f0f0 0%,#dbdbdb 100%);
}*/


p {
    line-height: 1.5em;
}

.fixed .container {
    width: auto;
    margin: 0 auto;
}

pre, code {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 16px;
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
}

.ui.header .content {
    padding-left: 0 !important;
}

.feature {
    /*color: #2980b9;*/
    text-decoration: none;
    /*border-bottom: 1px solid #2980b9;*/
    border-bottom: 1px solid black;
}

#mainmenu {
    padding-top: 0 !important;
    margin-top: 0 !important;
    background-color: #454545 !important;
}

#code {
    margin-bottom: 40px;
}

#header {
    padding: 25px 0;
}

.main.menu {
    color: #fafafa !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#header .ui.header .content {
    font-size: 42px;
    color: #fafafa !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#header .ui.header .sub.header {
    font-size: 18px;
}

.ui.inverted.segment .dividing.header, .ui.inverted.segment .divider {
    border-bottom-color: rgba(255, 255, 255, 0.3) !important;
}

/* Breakpoints are 768px and below for mobile, 768-992px for tablet and 992px+ for computer  */

.segment > .container, .menu > .container {
    margin: 0 auto;
    width: 992px;
}

@media print, screen and (max-width: 992px) {
    .segment > .container, .menu > .container {
        margin: 0 auto !important;
        width: 768px !important;
    }
}

@media print, screen and (max-width: 768px) {
    .segment > .container, .menu > .container {
        margin: 0 20px !important;
        width: auto !important;
    }
}
@media print, screen and (max-width: 480px) {
    .segment > .container, .menu > .container {
        margin: 0 20px !important;
        width: auto !important;
    }

}




