//-------------------------------------------------------------------------------------------------
// topbar.
//-------------------------------------------------------------------------------------------------

div#topbar.ui.inverted.main.menu.attached
  div.container
    div.ui.grid.computer.tablet.only
      a.item.active
        | TestFX
      a.item(href="https://github.com/TestFX/TestFX/wiki/Getting-started")
        i.icon.download.cloud
        | Get it
      a.item(href="https://github.com/TestFX/TestFX/wiki/Documentation")
        i.icon.book
        | Learn it
      a.item(href="https://github.com/TestFX/TestFX/issues")
        i.icon.wrench
        | Improve it
      div.right.menu
        a.popup.item(href="https://groups.google.com/d/forum/testfx-discuss", title="Mailing List")
          i.mail.icon
        a.popup.item(href="#", title="Twitter")
          i.twitter.icon
        a.popup.item(href="#", title="Google+")
          i.google.plus.icon
        a.popup.item(href="https://github.com/TestFX/TestFX", title="GitHub")
          i.github.icon
        a.popup.item(href="http://stackoverflow.com/search?q=testfx", title="Stack Overflow")
          i.stackexchange.icon
    div.ui.grid.mobile.only
      a.item.active
        | TestFX
      div.right.menu
        div.ui.dropdown.item
          i.icon.reorder
          div.menu
            a.item(href="https://github.com/TestFX/TestFX/wiki/Getting-started")
              i.icon.download.cloud
              | Get it
            a.item(href="https://github.com/TestFX/TestFX/wiki/Documentation")
              i.icon.book
              | Learn it
            a.item(href="https://github.com/TestFX/TestFX/issues")
              i.icon.wrench
              | Improve it

//-------------------------------------------------------------------------------------------------
// header.
//-------------------------------------------------------------------------------------------------

div#header.ui.inverted.basic.segment.attached
  div.container
    div.ui.grid.stackable
      div.bottom.aligned.row
        div.eleven.column.wide
          h1.ui.header
            div.content TestFX
              a.ui.label.black(href="https://github.com/TestFX/TestFX/wiki/Changelog#new-in-312")
                | 3.1.2
              div.sub.header Simple and Clean Testing for JavaFX
        div.five.column.wide
          div.fluid.ui.vertical.labeled.icon.buttons
            a.ui.button(href="https://github.com/TestFX/TestFX/wiki/Getting-started")
              i.cloud.download.icon
              | Download
            a.ui.button(href="https://github.com/TestFX/TestFX/wiki/Documentation")
              i.book.icon
              | Read the Docs

//-------------------------------------------------------------------------------------------------
// code.
//-------------------------------------------------------------------------------------------------

div#code.ui.basic.segment
  div.container
    div.ui.top.attached.tabular.menu
      a.active.item JUnit 4
    div.ui.bottom.attached.segment
      pre.line-numbers: code.language-java
        include data/example-junit4.txt

//-------------------------------------------------------------------------------------------------
// footer.
//-------------------------------------------------------------------------------------------------

div#footer.ui.inverted.basic.segment
  div.container
    div.ui.center.aligned.three.column.grid.stackable
      div.row
        div.column
          h4.ui.dividing.header General
          div.ui.list
            a.item(href="https://github.com/TestFX/TestFX/wiki/Getting-started") Downloads
            a.item(href="https://github.com/TestFX/TestFX/wiki/Documentation") Documentation
            a.item(href="https://github.com/TestFX/TestFX/wiki/Changelog") Release Notes
            div.item Roadmap
        div.column
          h4.ui.dividing.header Contribution
          div.ui.list
            a.item(href="https://github.com/TestFX/TestFX") Source Code
            a.item(href="https://github.com/TestFX/TestFX/issues") Issue Tracker
            a.item(href="https://github.com/TestFX/TestFX/wiki") Wiki Pages
        div.column
          h4.ui.dividing.header Community
          div.ui.list
            a.item(href="https://groups.google.com/d/forum/testfx-discuss") Mailing List
            div.item Twitter
            div.item Google+
            a.item(href="https://github.com/TestFX/TestFX") GitHub
            a.item(href="http://stackoverflow.com/search?q=testfx") Stack Overflow
    div.ui.center.aligned.one.column.grid
      div.column
        div.ui.divider
        p Licensed under the <a href="http://ec.europa.eu/idabc/eupl">EUPL, Version 1.1</a>.
