!!! 5
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="chrome=1")
    title TestFX: Simple and clean testing for JavaFX
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="../assets/brick/sourcesanspro.css")
    link(rel="stylesheet", href="../assets/brick/sourcecodepro.css")
    link(rel="stylesheet", href="../assets/prism/prism.css")
    script(src="../assets/prism/prism.js")
    script(src="../assets/jquery/jquery-2.1.1.min.js")
    link(rel="stylesheet", href="../assets/semantic/css/semantic.min.css")
    script(src="../assets/semantic/javascript/semantic.min.js")

    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
  body
    include body
